/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }

*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik

 KULATE ROHY
 border-radius: 30px;
*/

/* ----- zde zacni psat vlastni css ----- */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body { 
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px auto;
    padding: 30px;
}

.vizual {
    width: 50%;
    float: left;
    height: 440px;
    background: linear-gradient(#06d7c1, #50cc49);
    padding: 30px;
    clear: both;
}

.detaily {
    width: 50%;
    float: left;
    height: 440px;
    background-color: #f5f5f5;
    padding: 30px;
}

.zbozi {
    overflow: hidden;
    width: 670px;
    margin: 20px auto;
    border-radius: 30px;
  }

.velikosti li {
    display: inline;
    align-self: center;
    position: relative;
    left: -15px;
}

.velikosti {
    word-spacing: 20px;
}

.vybrana {
    border-color: #f15f42;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    padding: 5px;
    color: #f15f42;
}

.akce {
    text-align: center;
    position: relative;
    bottom: -35px;
    border-radius: 10px;
    background-color: #f15f42;
    padding: 10px;
    width: 150px;
    text-transform: uppercase;
}

.tlacitko {
    color: #f5f5f5;
    text-decoration: none;
}

.bota {
    position: absolute;
    top: 180px;
    left: 230px;
}

.logo {
    padding-bottom: 30px;
}

.slogan {
    font-size: 16px;
    font-weight: 500;
    color: #f5f5f5;
}

.cenovka {
    position:relative;
    bottom: -200px;
    text-align: right;
    color: #f5f5f5;
}

.cena {
    font-size: 28px;
    font-weight: 500;
}

.zaruka {
    font-size: 12px;
    font-weight: 400;
}


.nazev {
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
}

.produkt {
    color: #959595;
}

.popis {
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #06d7c1;}

.parametr {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 30px;
}

